body{
background-color:green;
}
.abc{
	background-color:orange; 
	width:250px;
	height:50px;
	margin-left:100px;
	margin-top:100px;
	
}
.def{
	background-color:orange; 
	width:250px;
	height:50px; 
	margin-left:366px;
	margin-top:-71px;
}
.wep{
	background-color:orange; 
	width:250px;
	height:50px; 
	margin-left:632px;
	margin-top:-71px;
}
.class{
	background-color:orange; 
	width:250px; 
	height:50px; 
	margin-left:898px;
	margin-top:-71px;
}
.app{
	background-color:orange;
	width:250px; 
	height:50px;
	margin-left:898px;
	margin-top:-71px;
}
.qwe{
	background-color:orange;
	width:250px;
	height:50px;
	margin-left:1165px;
	margin-top:-71px;
}
.access{
	height:500px;
	width:1050px;
	margin-left:101px;
	margin-top:50px;
}
.num{
	background-color:orange;
	width:250px; 
	height:170px; 
	margin-left:80%;
	margin-top:-463px;
}
.van{
	background-color:orange; 
	width:250px; 
	height:170px;
	margin-left:80%;
	margin-top:100px;
}
.cat{
	width:200px;
	height:100px;
	margin-left:50px;
}
.kit{
	width:200px;
	height:100px;
	margin-left:50px;
}
.min{
	width:200px;
	height:100px;
	margin-left:50px;
}
.fan{
	width:200px;
	height:100px;
	margin-left:50px;
}
.kites{
	width:409px;
	margin-top:50px;
	height:400px;
	margin-left:50px;
}
.ace{
	width:970px;
	height:400px;
	background-color:white;
	margin-left:450px;
	margin-top:-422px;
}
.plain{
	width:200px;
	height:200px;
	margin-top:50px;
	margin-left:60px;
}
.table{
	width:200px;
	height:200px;
	margin-top:-196px;
	margin-left:282px;
}
.rop{
	width:200px;
	height:200px;
	margin-top:-200px;
	margin-left:507px;
}
.egg{
	width:200px;
	height:200px;
	margin-top:-195px;
	margin-left:732px;
}
.toy{
	width:200px;
	height:200px;
	margin-top:-196px;
	margin-left:958px;
	
}
.bat{
	width:200px;
	height:200px;
	margin-top:-195px;
	margin-left:1190px;
}
.basket{
	width:200px;
	height:200px;
	margin-top:50px;
	margin-left:60px;
}
.help{
	width:200px;
	height:200px;
	margin-top:-196px;
	margin-left:282px;
}
.tune{
width:200px;
height:200px;
margin-top:-200px;
margin-left:507px;
}
.axe{
width:200px;
height:200px;
margin-top:-195px;
margin-left:732px;
}	